body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#word-container {
    font-size: 48px;
     margin-bottom: 20px;
}

#timer {
    font-size: 24px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}